<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Hello</title>
    </h:head>
    <h:body>
        <h:form>
            <h:commandLink value="Logout" action="#{login.logout()}" />
            <a href="../admin.xhtml">Admin page</a>
        </h:form>

        <div class="pure-g">
            <div class="pure-u-1-5" />
            <dir class="pure-u-3-5">
                <h2>Available courses</h2>
                <h:form>
                    <p:dataTable var="course"
                                 value="#{studentBean.courses}"
                                 id="courses">
                        <p:column headerText="Course name">
                            <h:outputText value="#{course.name}" />
                        </p:column>

                        <p:column headerText="Description">
                            <h:outputText value="#{course.description}" />
                        </p:column>

                        <p:column headerText="Students">
                            <h:outputText value="#{course.numberOfstudents} / #{course.limit}" />
                        </p:column>

                        <p:column>

                            <p:commandButton action="#{studentBean.subscribe(studentBean.actualStudent.username, course.id)}"
                                             value="Take course">
                                <f:ajax />
                            </p:commandButton>

                        </p:column>

                    </p:dataTable>
                </h:form>
            </dir>
        </div>

        <div class="pure-g">
            <div class="pure-u-1-5" />
            <dir class="pure-u-3-5">
                <h2>Courses taken</h2>
                <h:form>
                    <p:dataTable var="course"
                                 value="#{studentBean.takenCourses}"
                                 id="taken_courses">
                        <p:column headerText="Course name">
                            <h:outputText value="#{course.name}" />
                        </p:column>

                        <p:column headerText="Description">
                            <h:outputText value="#{course.description}" />
                        </p:column>

                        <p:column headerText="Students">
                            <h:outputText value="#{course.numberOfstudents} / #{course.limit}" />
                        </p:column>

                        <p:column>

                            <p:commandButton action="#{studentBean.unsubscribe(studentBean.actualStudent.username, course.id)}"
                                             value="Drop course">
                                <f:ajax />
                            </p:commandButton>

                        </p:column>

                    </p:dataTable>
                </h:form>
            </dir>
        </div>
    </h:body>
</html>

