<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Admin</title>
        <link rel="stylesheet" href="#{request.contextPath}/resources/pure-min.css" />
        <style>
            .ui-spinner-input {
                padding-right : 20px !important;
            }
        </style>
    </h:head>
    <h:body>
        
        <div class="pure-g">
            <div class="pure-u-1-12" />
            <dir class="pure-u-3-4">
                <a href="#{request.contextPath}">Back</a>
                <h:form>
                    <p:dataTable var="course"
                                 value="#{courseCRDBean.courses}"
                                 rowKey="#{course.id}"
                                 id="courses">
                        <p:column headerText="Course name">
                            <h:outputText value="#{course.name}" />
                        </p:column>

                        <p:column headerText="Description">
                            <h:outputText value="#{course.description}" />
                        </p:column>

                        <p:column headerText="Students">
                            <h:outputText value="#{course.numberOfstudents} / #{course.limit}" />
                        </p:column>

                        <p:column style="width:16px;text-align: center">
                            <p:commandLink action="#{courseCRDBean.deleteCourse(course.id)}"
                                           validateClient="false">
                                <span class="ui-icon ui-icon-trash" />
                                <f:ajax />
                            </p:commandLink>

                        </p:column>

                    </p:dataTable>
                </h:form>
            </dir>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-3" />
            <div class="pure-u-1-3">
                <h:form id="course_add_form"
                        class="pure-form pure-form-aligned">
                    <fieldset>
                        <legend><h3>Add course</h3></legend>
                        <div class="pure-control-group">
                            <label for="course_name">Course name:</label>
                            <p:inputText id="course_name"
                                         required="true"
                                         requiredMessage="Please enter the name of the course"
                                         value="#{courseCRDBean.courseName}"/>
                        </div>

                        <div class="pure-control-group">
                            <label for="course_description">Course description:</label>
                            <p:inputText id="course_description"
                                         value="#{courseCRDBean.courseDescription}"/>
                        </div>

                        <div class="pure-control-group">
                            <label for="max_students">Limit of students:</label>
                            <p:spinner id="max_students"
                                       min="0"
                                       max="500"
                                       required="true"
                                       requiredMessage="Please enter the limit of the students"
                                       value="#{courseCRDBean.courseLimit}"/>
                        </div>

                        <div class="pure-controls">
                            <p:commandButton value="Add course"
                                             class="pure-button"
                                             action="#{courseCRDBean.addCourse()}"
                                             update="course_add_form">
                                <f:ajax />
                            </p:commandButton>
                        </div>
                        <div class="pure-control-group">
                            <p:messages />
                        </div>

                    </fieldset>
                </h:form>

            </div>
        </div>

    </h:body>
</html>

