<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <f:metadata>
        <f:event type="preRenderView" listener="#{userRedirectionBean.redirectUserIfLoggedIn()}"/>
    </f:metadata>
    
    <h:head>
        <title>Login error</title>
        <link rel="stylesheet" href="resources/pure-min.css" />
    </h:head>

    <h:body>
        <div class="pure-g">
            <div class="pure-u-1-3" />
            <div class="pure-u-1-3">
            <legend><h3>Login</h3></legend>
            <hr />
            <p>Invalid username or password</p>
            <p><a href="login.xhtml">Back to login page</a></p>
            </div>
        </div>
    </h:body>
</html>