<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <f:metadata>
        <f:event type="preRenderView" listener="#{userRedirectionBean.redirectUserIfLoggedIn()}"/>
    </f:metadata>

    <h:head>
        <title>Welcome</title>
        <link rel="stylesheet" href="#{request.contextPath}/resources/pure-min.css" />
    </h:head>

    <h:body>
        
        <div class="pure-g">
            <div class="pure-u-1-3" />
            <div class="pure-u-1-3">
                <a href="admin.xhtml">Admin page</a>
                <div>

                    <div>
                        <form id="login-form"
                              class="pure-form pure-form-aligned"
                              method="POST"
                              action="j_security_check">
                            <fieldset>
                                <legend><h3>Login</h3></legend>
                                <div class="pure-control-group">
                                    <label for="j_username">Username:</label>
                                    <p:inputText id="j_username"
                                                 label="Username:"/>

                                </div>

                                <div class="pure-control-group">
                                    <label for="j_password">Password:</label>
                                    <p:password id="j_password"
                                                label="Password:"/>
                                </div>

                                <div class="pure-controls">

                                    <button id="login_button"
                                            type="submit"
                                            value="login"
                                            class="pure-button">
                                        Login
                                    </button> 

                                    <button type="button"
                                            class="pure-button"
                                            onclick="PF('reg_dialog').show();">
                                        Sign Up
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <p:dialog header="Registration" widgetVar="reg_dialog" id="reg_dialog" modal="true" width="600">
            <h:form id="registration_form"
                    class="pure-form pure-form-aligned">   
                <fieldset>
                    <div class="pure-control-group">
                        <label for="first_name">First name:</label>
                        <p:inputText id="first_name"
                                     required="true"
                                     requiredMessage="Please enter your first name"
                                     value="#{Registration.fistName}" />
                    </div>

                    <div class="pure-control-group">
                        <label for="last_name">Last name:</label>
                        <p:inputText id="last_name"
                                     required="true"
                                     requiredMessage="Please enter your last name"
                                     value="#{Registration.lastName}" />
                    </div>

                    <div class="pure-control-group">
                        <label for="username">Username:</label>
                        <p:inputText id="username"
                                     required="true"
                                     requiredMessage="Please enter your username"
                                     value="#{Registration.username}" />
                    </div>

                    <div class="pure-control-group">
                        <label for="password1">Password:</label>
                        <p:password id="password1"
                                    required="true"
                                    requiredMessage="Please enter your password"
                                    value="#{Registration.password}" />
                    </div>

                    <div class="pure-control-group">
                        <label for="password2">Password again:</label>
                        <p:password id="password2"
                                    required="true"
                                    requiredMessage="Please enter your password again"
                                    value="#{Registration.password2}" />
                    </div>



                    <div class="pure-controls">

                        <p:commandButton id="reg_button"
                                         type="submit"
                                         value=" Sign up"
                                         class="pure-button"
                                         action="#{Registration.registerStudent()}"
                                         update="registration_form"
                                         validateClient="true">

                            <f:ajax />
                        </p:commandButton>
                    </div>

                    <div class="pure-control-group">
                        <p:messages autoUpdate="true" />
                    </div>
                </fieldset>
            </h:form>
        </p:dialog>
            <script type="text/javascript">
                function closeRegDialog() {
                    PF('reg_dialog').hide();
                }
            </script>
                
    </h:body>

</html>

